
@{
    ViewData["Title"] = "APIPersonas";
}

<h1>API de Personas</h1>

<br />

<div class="container text-center">

    <table id="tablaDatos" class="table table-bordered border-danger" style="width:100%">
        <thead>
            <tr class="table-danger">
                <th id="col-rosa">Nombre</th>
                <th>Edad</th>
                <th>Nacionalidad</th>
                <th>Casado</th>
                <th>Dirección</th>
                <th>Sueldo</th>
                <th>Platos</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se agregarán aquí -->
        </tbody>
    </table>
</div>
<br />
<br />


<!-- Custom script -->
<script src="~/js/consumeapi.js"></script>